:root{
    --50: #fdf3ff;
    --100: #fae2ff;
    --200: #f5cbff;
    --300: #eea2ff;
    --400: #e367ff;
    --500: #da2dff;
    --600: #cf06ff;
    --700: #bb00f8;
    --800: #8e00b6;
    --900: #8002a1;
    --950: #5b007b;
}



.container {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.img-programador {

    border: 6px solid var(--800);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
}

a {
    text-decoration: none;
    color:white;
}

.btn-editar {

    background-color: #740bcf;
    width: 150px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
}